table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 7rem;

  thead {
    background-color: $main-color;
    color: white;

    th {
      padding: 12px 15px;
      text-transform: uppercase;
      font-family: 'Montserrat Medium';
      border: 1px solid #c7c5c5;
      text-align: left;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:nth-child(odd) {
        background-color: #fff;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      td {
        padding: 10px 15px;
        border: 1px solid #c7c5c5;
        text-align: left;
      }
    }
  }

  .action-center {
    text-align: center;
  }

  .button-group {
    display: flex;
    column-gap: 1rem;
    justify-content: center;

    button {
      cursor: pointer;
    }

    .red-link {
      color: red;
    }

    .blue-link {
      color: blue;
    }
  }

  @media screen and (max-width: 768px) {

    .contact-details {
      display: flex;
      flex-direction: column;
    p {
      text-align: left;
    }
    }


    table, thead, tbody, th, td, tr {
      display: block; 
    }

    thead {
      display: none;
    }

    tr {
      margin-bottom: 1.5rem; 

      td {
        display: flex;
        justify-content: space-between; 
        text-align: left;
        position: relative;

        &:before {
          content: attr(data-label); 
          text-transform: uppercase;
          font-family: 'Montserrat Medium';
        }

        .button-group {
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;
          button {
          font-size: 1.1rem;
          }
        }
      }
    }
  }
}
