.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh; 
  @include marge;
  gap: 2rem;
  

}
.contact {
   width: 100%;  
     .contact-details {
    display: flex;
    flex-direction: column;
    p {
      text-align: left;
    }
  }
  .contact__content {
    flex: 1;
  }
  .contact__form {
    flex: 1.2;
  }

  .contact__content {
    text-align: left;

.text {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
    h1 {
      margin-bottom: 1rem;
      color: $main-color;
    }

    .line {
      @include line(50, $main-color);
    }

    .contact__icon {
      .contact-item {
        display: flex;
        margin: 0.8rem 0;

        .icon {
          color: $secondary-color;
          font-size: 1.5rem;
          margin-right: 0.6rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  .contact__form {
    background-color: $main-color;
    padding: 2rem;
    border-radius: 8px;

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;

      .contact__form-group {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.5rem;
          color: #fff;
        }

        input,
        select,
        textarea {
          padding: 0.6rem;
          border-radius: 4px;
          font-size: 1rem;
          border: none;
          outline: none;
          width: 100%;
        }
      }

      .contact__form-group--full-width {
        grid-column: span 2;
        textarea {
          height: 100px;
          resize: none;
        }
      }
    }

    .contact__form-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      .contact__form-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        input {
          width: 15px;
          transform: scale(1.2);
          margin-right: 0.8rem;
        }

        label {
          color: #fff;
        }
      }

      a {
        color: rgb(224, 224, 224);
        text-decoration: underline;
        margin-bottom: 1.5rem;
      }
    }

    .contact__button-container {
      display: flex;
      justify-content: center;

      button {
        @include buttonSquare(black, $secondary-color);
        padding: 0.6rem 3rem;
      }
    }
    
  }

}

.no-message {
font-style: italic;
color: gray;
}

.status-unread {
  color:red;
}

.status-read {
  color: green;
}


@media screen and (max-width: 1030px) {
  .contact__container {
    flex-direction: column; 
    align-items: flex-start; 
    height: auto;
    gap: 2rem; 
  }

  .contact__content {
    margin-top: 2rem;
  }

  .contact__content, 
  .contact__form {
    flex: none; 
    width: 100%; 
  }


}
@media screen and (max-width: 768px) {
  .contact__form-container {
    grid-template-columns: 1fr!important; 

    select {
      margin-bottom: 1rem;
    }
  }

  .contact__form-group--full-width {
    grid-column: span 1!important;
  }
}


