a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}


.message-cell {
  max-width: 300px; /* Limite la largeur de la cellule du message */
  white-space: normal; /* Autorise le retour à la ligne */
  word-wrap: break-word; /* Coupe les mots si nécessaire pour aller à la ligne */
  overflow-wrap: break-word; /* couper les mots */
}

.contact-details {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin-top: 10px;
}
